<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjing.approval.dao.mapper.ModelMapper">
    <resultMap id="ModelInfoMap" type="com.yunjing.approval.model.vo.ModelVO">
        <result column="id" property="modelId"/>
        <result column="model_name" property="modelName"/>
        <result column="sort" property="sort"/>
        <result column="introduce" property="introduce"/>
        <result column="is_disabled" property="isDisabled"/>
        <result column="category_id" property="categoryId"/>
        <result column="category_name" property="categoryName"/>
        <result column="update_time" property="updateTime"/>
        <result column="visible_range" property="visibleRange"/>
        <result column="approver" property="approver"/>
    </resultMap>
    <delete id="deleteModelListByOrgId" >
        DELETE FROM model WHERE id IN (SELECT o.model_id FROM org_model o WHERE o.org_id = #{ orgId })
    </delete>

    <select id="selectModelList" resultMap="ModelInfoMap">
        SELECT m.id, m.model_name,m.logo, m.sort, m.introduce,m.is_disabled,m.visible_range,m.update_time
        FROM model m
        JOIN org_model om ON m.id = om.model_id
        WHERE om.org_id= #{ orgId }
        AND m.model_type=2  AND m.is_def=0 ORDER BY m.sort ASC,mc.update_time DESC
    </select>
    <select id="selectLists" resultMap="ModelInfoMap">
        SELECT m.id, m.model_name,m.logo, m.sort, m.introduce,m.is_disabled,m.visible_range,m.update_time,m.category_id,mc.category_name,mc.update_time
        FROM model m
        JOIN org_model om ON m.id = om.model_id
        JOIN model_item mi ON mi.model_id = m.id
        LEFT JOIN model_category mc ON m.category_id = mc.id
        WHERE om.org_id= #{ orgId }
        AND m.model_type=2  AND m.is_def=0 ORDER BY m.sort ASC,mc.update_time DESC
    </select>

    <resultMap id="ModelListMap" type="com.yunjing.approval.model.entity.ModelL">
        <id column="id" property="id"/>
        <result column="model_name" property="modelName" />
        <result column="logo" property="logo" />
        <result column="introduce" property="introduce" />
        <result column="sort" property="sort" />
        <result column="is_disabled" property="isDisabled" />
        <result column="is_def" property="isDef" />
        <result column="provider" property="provider" />
        <result column="model_type" property="modelType" />
        <result column="model_version" property="modelVersion" />
    </resultMap>
    <select id="selectModelListByOrgId" resultMap="ModelListMap">
        SELECT m.id, m.model_name, m.logo, m.introduce, m.sort,
        m.is_disabled, m.is_def, m.provider, m.model_type, m.model_version
        FROM model m
        LEFT JOIN org_model o ON (m.id = o.model_id)
        WHERE o.org_id = #{ orgId }AND m.is_def = 0 ORDER BY m.sort ASC
    </select>
    <select id="getMaxSort" resultType="java.lang.Integer">
        select MAX(m.sort) AS max from model m, org_model o WHERE m.id = o.model_id and m.model_type = 2 and o.data_type = 2 and o.org_id = #{ orgId }
    </select>
</mapper>