<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjing.approval.dao.mapper.ApprovalProcessMapper">

    <resultMap id="ApprovalMap" type="com.yunjing.approval.model.dto.ApprovalContentDTO">
        <result column="approval_id" property="approvalId"/>
        <result column="model_id" property="modelId"/>
        <result column="model_name" property="modelName"/>
        <result column="state" property="state"/>
        <result column="process_state" property="processState"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="reason" property="message"/>
    </resultMap>
    <select id="getWaitedMeApprovalList" resultMap="ApprovalMap">
        SELECT ap.id, ap.approval_id, ap.user_id, ap.process_state, a.state,a.result, ap.seq, ap.process_time,
        ap.reason, a.model_id,a.create_time,m.model_name
        FROM approval_process ap,approval a,model m
        <where>
            ap. approval_id = a.id AND m.id = a.model_id AND ap.process_state = 0
            <if test="userId != null and userId != ''">
                and ap.user_id = #{userId}
            </if>
            <if test="orgId != null and orgId != ''">
                and a.org_id = #{orgId}
            </if>
            <if test="searchKey != null and searchKey != '' and flag == true">
                and (DATE_FORMAT(a.create_time, '%Y-%m-%d') = #{searchKey} )
            </if>
        </where>
        ORDER BY ap.process_time DESC
        limit #{index},#{size}
    </select>
    <select id="getCompletedApprovalList" resultMap="ApprovalMap">
        SELECT ap.id, ap.approval_id, ap.user_id, ap.process_state, a.state,a.result, ap.seq, ap.process_time,
        ap.reason, a.model_id,a.create_time,m.model_name
        FROM approval_process ap,approval a,model m
        <where>
            ap. approval_id = a.id AND m.id = a.model_id AND ap.process_state > 0 and 4 > ap.process_state
            <if test="userId != null and userId != ''">
                and ap.user_id = #{userId}
            </if>
            <if test="orgId != null and orgId != ''">
                and a.org_id = #{orgId}
            </if>
            <if test="searchKey != null and searchKey != '' and flag == true">
                and (DATE_FORMAT(a.create_time, '%Y-%m-%d') = #{searchKey} )
            </if>
        </where>
        ORDER BY ap.process_time DESC
        limit #{index},#{size}
    </select>
    <select id="getLaunchedApprovalList" resultMap="ApprovalMap">
        SELECT ap.id, ap.approval_id, ap.user_id, ap.process_state,a.title, a.state,a.result, ap.seq, ap.process_time,
        ap.reason, a.model_id,a.create_time,m.model_name,m.logo
        FROM approval_process ap,approval a,model m
        <where>
            ap. approval_id = a.id AND m.id = a.model_id AND ap.user_id = #{userId} AND a.org_id = #{orgId}
            <if test="searchKey != null and searchKey != '' and flag == true">
                and (DATE_FORMAT(a.create_time, '%Y-%m-%d') = #{searchKey} )
            </if>
        </where>
        ORDER BY a.create_time DESC
        limit #{index},#{size}
    </select>

    <resultMap id="ApprovalUserMap" type="com.yunjing.approval.model.vo.ApprovalUserVO">
        <result column="process_state" property="processState"/>
        <result column="process_time" property="approvalTime"/>
        <result column="reason" property="content"/>
        <result column="id" property="userId"/>
    </resultMap>
    <select id="getApprovalUserList" resultMap="ApprovalUserMap">
        SELECT ap.approval_id, ap.user_id, ap.process_state, ap.seq, ap.process_time,ap.reason, au.id,au.name,au.avatar,au.mobile
        FROM approval_process ap
        LEFT JOIN approval_user au ON ap.user_id = au.id
        WHERE ap.approval_id = #{approvalId}
    </select>
</mapper>