<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunjing.approval.dao.mapper.CopyMapper">
    <delete id="deleteCopyUser">
        DELETE FROM approval_copy WHERE user_id = #{uid} AND model_id IN (SELECT model_id FROM org_model WHERE org_id = #{oid} AND data_type = 2)
    </delete>
</mapper>