<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunjing.notice.mapper.UserInfoMapper">
    <select id="selectUserIds" resultType="java.lang.Long">
        SELECT u.id
        FROM user_info u
        WHERE
        u.logic_delete = 0
    </select>
    <!--查询用户头像和名称-->
    <resultMap id="userInfo" type="com.yunjing.notice.body.UserInfoBody">
        <id property="id" column=""></id>
        <result property="img" column="img"></result>
        <result property="name" column="name"></result>
    </resultMap>
    <select id="selectUser" resultMap="userInfo" parameterType="java.util.Map">
        SELECT u.id,u.img,u.name
        FROM user_info u
        WHERE
        u.logic_delete = 0 AND
        u.id IN
        <foreach collection="userIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>